{% if posts.object_list and posts.paginator.num_pages > 1 %}
    <div class="container">
        <div class="row center">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class=" left-align">
                        <a href="?page={{ posts.previous_page_number }}">
                            <i class="material-icons ">chevron_left</i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled left-align">
                        <a href="#!">
                            <i class="material-icons ">chevron_left</i>
                        </a>
                    </li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="waves-effect right-align">
                        <a href="?page={{ posts.next_page_number }}">
                            <i class="material-icons ">chevron_right</i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled right-align">
                        <a href="#!">
                            <i class="material-icons ">chevron_right</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}