{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/highlight.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/blog.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

</body>
</html>